In [1]:
import pandas as pd

In [98]:
perg = pd.read_json("2014.json")
dat = pd.read_json("2014_1_2.json")

del dat[1]
del dat[2]
del dat[3]
del dat[4]

del perg[0]
del perg[2]

In [99]:
ind_car = 61

In [142]:
car_dat = pd.DataFrame(dat[6][ind_car])
car_dat = car_dat.transpose()
#car_dat.columns = perg[3]

0                                    Qual é o seu sexo?
1                            Qual é o seu estado civil?
2                             Qual é a sua cor ou raça?
3                Onde você cursou o ensino fundamental?
4                      Onde você cursou o ensino médio?
5     Que tipo de curso de ensino médio você conclui...
6              Em que turno você cursou o ensino médio?
7     Você frequenta ou frequentou cursinho pré-vest...
8     Você já iniciou ou está frequentando algum cur...
9     Somando a sua renda com a renda das pessoas qu...
10    Quantas pessoas da família vivem da renda indi...
11    Quantas pessoas contribuem para a obtenção des...
12    Qual é o nível de instrução de seu pai ou resp...
13    Qual é o nível de instrução de sua mãe ou resp...
14             Você exerce alguma atividade remunerada?
15    Onde você acessa a Internet com maior frequência?
16    Quanto à manutenção mensal de sua família, ass...
17    Indique a situação do imóvel em que sua famíli...
18    Como pretende se manter durante seus estudos u...
19                  Quantos carros existem em sua casa?
20            Quantos computadores existem em sua casa?
21    No ano passado, você se inscreveu como "treine...
22    Além do vestibular da FUVEST, você pretende se...
23    Quantos vestibulares você já prestou na FUVEST...
24    Em algum dos vestibulares que você já prestou ...
25                              Você optou pelo PASUSP?
26          Você está participando do processo INCLUSP?
27                        Qual sua idade em 31/12/2013?
Name: 3, dtype: object

In [144]:
car_dat

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,16108,16108,16108,16108,16108,16108,16108,16108,16108,16108,...,16108,16108,16108,16108,16108,16108,16108,16108,16108,16108
1,5618,15676,11911,4196,4643,15182,12234,5671,13849,180,...,8383,2197,376,2135,1831,8448,9439,1077,4391,236
2,10489,371,648,9620,10656,612,1746,1482,898,1441,...,2434,7005,7130,13972,1589,3827,380,15031,11717,4794
3,NaN,58,2625,981,255,31,729,4553,544,1933,...,297,5123,4467,NaN,9627,1920,147,NaN,NaN,4040
4,NaN,2,882,1224,479,168,963,2270,66,2978,...,292,1368,2418,NaN,2084,1005,100,NaN,NaN,2459
5,NaN,NaN,41,33,29,54,375,2131,750,2423,...,1826,332,1716,NaN,976,907,98,NaN,NaN,1411
6,NaN,NaN,NaN,53,45,60,60,NaN,NaN,2052,...,2511,82,NaN,NaN,NaN,NaN,5943,NaN,NaN,897
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1934,...,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1282
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,985
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
perg[3]

In [155]:
perg.transpose()[17]

1                                                     5
3     Indique a situação do imóvel em que sua famíli...
4                                     Próprio, quitado.
5     Cedido por instituição/empresa/parentes/conhec...
6                  Próprio, com financiamento em curso.
7                                              Alugado.
8     Próprio, construído em terreno sem regularização.
9                                                  None
10                                                 None
11                                                 None
12                                                 None
13                                                 None
Name: 17, dtype: object